{:builds {:app {:asset-path "/js"
                :build-hooks [(dev.build/copy-resources)]
                :compiler-options {:infer-externs :auto}
                :dev {:compiler-options {:output-feature-set :es6}}
                :devtools {:http-port 8080
                           :http-root "public"
                           :preloads [app.dev]
                           :reload-strategy :full}
                :modules {:main {:init-fn app.core/main!}}
                :output-dir "public/js"
                :target :browser}}
 :dependencies [[devcards "0.2.7"]
                [lilactown/helix "0.0.13"]
                [cljs-bean "1.6.0"]
                [camel-snake-kebab "0.4.1"]
                [binaryage/devtools "1.0.2"]]
 :js-options {:js-package-dirs ["../node_modules"]}
 :source-paths ["src"]}
