{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  com.zaxxer/HikariCP {:mvn/version "3.4.5"},
  com.walmartlabs/lacinia-pedestal {:mvn/version "0.13.0"},
  honeysql/honeysql {:mvn/version "1.0.444"},
  slingshot/slingshot {:mvn/version "0.12.2"},
  com.stuartsierra/component {:mvn/version "1.0.0"},
  clj-http/clj-http {:mvn/version "3.10.1"},
  seancorfield/next.jdbc {:mvn/version "1.0.462"},
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"},
  com.taoensso/timbre {:mvn/version "4.11.0-alpha1"},
  mysql/mysql-connector-java {:mvn/version "8.0.20"},
  cheshire/cheshire {:mvn/version "5.10.0"},
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"}},
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"},
  "clojars" {:url "https://repo.clojars.org/"}},
 :aliases
 {:dev {:extra-paths ["dev-resources"]},
  :run {:main-opts ["-m" "locket-match-queries.core"]},
  :populate-dev
  {:main-opts ["-m" "locket-match-queries.mock-data"],
   :extra-paths ["dev-resources"]},
  :test
  {:extra-paths ["test" "dev-resources"],
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.632"},
    lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"},
    clj-http-fake/clj-http-fake {:mvn/version "1.0.3"},
    org.clojure/test.check {:mvn/version "1.0.0"},
    org.testcontainers/testcontainers {:mvn/version "1.14.3"},
    org.testcontainers/mysql {:mvn/version "1.14.3"}},
   :main-opts ["-m" "kaocha.runner"]},
  :uberjar
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.2"}},
   :main-opts
   ["-m" "cambada.uberjar" "-m" "locket-match-queries.core"]}}}
