{1 :npc-dota-hero/antimage
 2 :npc-dota-hero/axe
 3 :npc-dota-hero/bane
 4 :npc-dota-hero/bloodseeker
 5 :npc-dota-hero/crystal-maiden
 6 :npc-dota-hero/drow-ranger
 7 :npc-dota-hero/earthshaker
 8 :npc-dota-hero/juggernaut
 9 :npc-dota-hero/mirana
 10 :npc-dota-hero/morphling
 11 :npc-dota-hero/nevermore
 12 :npc-dota-hero/phantom-lancer
 13 :npc-dota-hero/puck
 14 :npc-dota-hero/pudge
 15 :npc-dota-hero/razor
 16 :npc-dota-hero/sand-king
 17 :npc-dota-hero/storm-spirit
 18 :npc-dota-hero/sven
 19 :npc-dota-hero/tiny
 20 :npc-dota-hero/vengefulspirit
 21 :npc-dota-hero/windrunner
 22 :npc-dota-hero/zuus
 23 :npc-dota-hero/kunkka
 25 :npc-dota-hero/lina
 26 :npc-dota-hero/lion
 27 :npc-dota-hero/shadow-shaman
 28 :npc-dota-hero/slardar
 29 :npc-dota-hero/tidehunter
 30 :npc-dota-hero/witch-doctor
 31 :npc-dota-hero/lich
 32 :npc-dota-hero/riki
 33 :npc-dota-hero/enigma
 34 :npc-dota-hero/tinker
 35 :npc-dota-hero/sniper
 36 :npc-dota-hero/necrolyte
 37 :npc-dota-hero/warlock
 38 :npc-dota-hero/beastmaster
 39 :npc-dota-hero/queenofpain
 40 :npc-dota-hero/venomancer
 41 :npc-dota-hero/faceless-void
 42 :npc-dota-hero/skeleton-king
 43 :npc-dota-hero/death-prophet
 44 :npc-dota-hero/phantom-assassin
 45 :npc-dota-hero/pugna
 46 :npc-dota-hero/templar-assassin
 47 :npc-dota-hero/viper
 48 :npc-dota-hero/luna
 49 :npc-dota-hero/dragon-knight
 50 :npc-dota-hero/dazzle
 51 :npc-dota-hero/rattletrap
 52 :npc-dota-hero/leshrac
 53 :npc-dota-hero/furion
 54 :npc-dota-hero/life-stealer
 55 :npc-dota-hero/dark-seer
 56 :npc-dota-hero/clinkz
 57 :npc-dota-hero/omniknight
 58 :npc-dota-hero/enchantress
 59 :npc-dota-hero/huskar
 60 :npc-dota-hero/night-stalker
 61 :npc-dota-hero/broodmother
 62 :npc-dota-hero/bounty-hunter
 63 :npc-dota-hero/weaver
 64 :npc-dota-hero/jakiro
 65 :npc-dota-hero/batrider
 66 :npc-dota-hero/chen
 67 :npc-dota-hero/spectre
 68 :npc-dota-hero/ancient-apparition
 69 :npc-dota-hero/doom-bringer
 70 :npc-dota-hero/ursa
 71 :npc-dota-hero/spirit-breaker
 72 :npc-dota-hero/gyrocopter
 73 :npc-dota-hero/alchemist
 74 :npc-dota-hero/invoker
 75 :npc-dota-hero/silencer
 76 :npc-dota-hero/obsidian-destroyer
 77 :npc-dota-hero/lycan
 78 :npc-dota-hero/brewmaster
 79 :npc-dota-hero/shadow-demon
 80 :npc-dota-hero/lone-druid
 81 :npc-dota-hero/chaos-knight
 82 :npc-dota-hero/meepo
 83 :npc-dota-hero/treant
 84 :npc-dota-hero/ogre-magi
 85 :npc-dota-hero/undying
 86 :npc-dota-hero/rubick
 87 :npc-dota-hero/disruptor
 88 :npc-dota-hero/nyx-assassin
 89 :npc-dota-hero/naga-siren
 90 :npc-dota-hero/keeper-of-the-light
 91 :npc-dota-hero/wisp
 92 :npc-dota-hero/visage
 93 :npc-dota-hero/slark
 94 :npc-dota-hero/medusa
 95 :npc-dota-hero/troll-warlord
 96 :npc-dota-hero/centaur
 97 :npc-dota-hero/magnataur
 98 :npc-dota-hero/shredder
 99 :npc-dota-hero/bristleback
 100 :npc-dota-hero/tusk
 101 :npc-dota-hero/skywrath-mage
 102 :npc-dota-hero/abaddon
 103 :npc-dota-hero/elder-titan
 104 :npc-dota-hero/legion-commander
 105 :npc-dota-hero/techies
 106 :npc-dota-hero/ember-spirit
 107 :npc-dota-hero/earth-spirit
 108 :npc-dota-hero/abyssal-underlord
 109 :npc-dota-hero/terrorblade
 110 :npc-dota-hero/phoenix
 111 :npc-dota-hero/oracle
 112 :npc-dota-hero/winter-wyvern
 113 :npc-dota-hero/arc-warden
 114 :npc-dota-hero/monkey-king
 119 :npc-dota-hero/dark-willow
 120 :npc-dota-hero/pangolier
 121 :npc-dota-hero/grimstroke
 126 :npc-dota-hero/void-spirit
 128 :npc-dota-hero/snapfire
 129 :npc-dota-hero/mars}