[{:id 1 :name :hero/antimage}
 {:id 2 :name :hero/axe}
 {:id 3 :name :hero/bane}
 {:id 4 :name :hero/bloodseeker}
 {:id 5 :name :hero/crystal-maiden}
 {:id 6 :name :hero/drow-ranger}
 {:id 7 :name :hero/earthshaker}
 {:id 8 :name :hero/juggernaut}
 {:id 9 :name :hero/mirana}
 {:id 11 :name :hero/nevermore}
 {:id 10 :name :hero/morphling}
 {:id 12 :name :hero/phantom-lancer}
 {:id 13 :name :hero/puck}
 {:id 14 :name :hero/pudge}
 {:id 15 :name :hero/razor}
 {:id 16 :name :hero/sand-king}
 {:id 17 :name :hero/storm-spirit}
 {:id 18 :name :hero/sven}
 {:id 19 :name :hero/tiny}
 {:id 20 :name :hero/vengefulspirit}
 {:id 21 :name :hero/windrunner}
 {:id 22 :name :hero/zuus}
 {:id 23 :name :hero/kunkka}
 {:id 25 :name :hero/lina}
 {:id 31 :name :hero/lich}
 {:id 26 :name :hero/lion}
 {:id 27 :name :hero/shadow-shaman}
 {:id 28 :name :hero/slardar}
 {:id 29 :name :hero/tidehunter}
 {:id 30 :name :hero/witch-doctor}
 {:id 32 :name :hero/riki}
 {:id 33 :name :hero/enigma}
 {:id 34 :name :hero/tinker}
 {:id 35 :name :hero/sniper}
 {:id 36 :name :hero/necrolyte}
 {:id 37 :name :hero/warlock}
 {:id 38 :name :hero/beastmaster}
 {:id 39 :name :hero/queenofpain}
 {:id 40 :name :hero/venomancer}
 {:id 41 :name :hero/faceless-void}
 {:id 42 :name :hero/skeleton-king}
 {:id 43 :name :hero/death-prophet}
 {:id 44 :name :hero/phantom-assassin}
 {:id 45 :name :hero/pugna}
 {:id 46 :name :hero/templar-assassin}
 {:id 47 :name :hero/viper}
 {:id 48 :name :hero/luna}
 {:id 49 :name :hero/dragon-knight}
 {:id 50 :name :hero/dazzle}
 {:id 51 :name :hero/rattletrap}
 {:id 52 :name :hero/leshrac}
 {:id 53 :name :hero/furion}
 {:id 54 :name :hero/life-stealer}
 {:id 55 :name :hero/dark-seer}
 {:id 56 :name :hero/clinkz}
 {:id 57 :name :hero/omniknight}
 {:id 58 :name :hero/enchantress}
 {:id 59 :name :hero/huskar}
 {:id 60 :name :hero/night-stalker}
 {:id 61 :name :hero/broodmother}
 {:id 62 :name :hero/bounty-hunter}
 {:id 63 :name :hero/weaver}
 {:id 64 :name :hero/jakiro}
 {:id 65 :name :hero/batrider}
 {:id 66 :name :hero/chen}
 {:id 67 :name :hero/spectre}
 {:id 69 :name :hero/doom-bringer}
 {:id 68 :name :hero/ancient-apparition}
 {:id 70 :name :hero/ursa}
 {:id 71 :name :hero/spirit-breaker}
 {:id 72 :name :hero/gyrocopter}
 {:id 73 :name :hero/alchemist}
 {:id 74 :name :hero/invoker}
 {:id 75 :name :hero/silencer}
 {:id 76 :name :hero/obsidian-destroyer}
 {:id 77 :name :hero/lycan}
 {:id 78 :name :hero/brewmaster}
 {:id 79 :name :hero/shadow-demon}
 {:id 80 :name :hero/lone-druid}
 {:id 81 :name :hero/chaos-knight}
 {:id 82 :name :hero/meepo}
 {:id 83 :name :hero/treant}
 {:id 84 :name :hero/ogre-magi}
 {:id 85 :name :hero/undying}
 {:id 86 :name :hero/rubick}
 {:id 87 :name :hero/disruptor}
 {:id 88 :name :hero/nyx-assassin}
 {:id 89 :name :hero/naga-siren}
 {:id 90 :name :hero/keeper-of-the-light}
 {:id 91 :name :hero/wisp}
 {:id 92 :name :hero/visage}
 {:id 93 :name :hero/slark}
 {:id 94 :name :hero/medusa}
 {:id 95 :name :hero/troll-warlord}
 {:id 96 :name :hero/centaur}
 {:id 97 :name :hero/magnataur}
 {:id 98 :name :hero/shredder}
 {:id 99 :name :hero/bristleback}
 {:id 100 :name :hero/tusk}
 {:id 101 :name :hero/skywrath-mage}
 {:id 102 :name :hero/abaddon}
 {:id 103 :name :hero/elder-titan}
 {:id 104 :name :hero/legion-commander}
 {:id 106 :name :hero/ember-spirit}
 {:id 107 :name :hero/earth-spirit}
 {:id 109 :name :hero/terrorblade}
 {:id 110 :name :hero/phoenix}
 {:id 111 :name :hero/oracle}
 {:id 105 :name :hero/techies}
 {:id 112 :name :hero/winter-wyvern}
 {:id 113 :name :hero/arc-warden}
 {:id 108 :name :hero/abyssal-underlord}
 {:id 114 :name :hero/monkey-king}
 {:id 120 :name :hero/pangolier}
 {:id 119 :name :hero/dark-willow}
 {:id 121 :name :hero/grimstroke}
 {:id 129 :name :hero/mars}
 {:id 126 :name :hero/void-spirit}
 {:id 128 :name :hero/snapfire}]
