{:barracks_status_dire 0
 :barracks_status_radiant 63
 :cluster 111
 :dire_score 35
 :duration 2821
 :engine 1
 :first_blood_time 82
 :flags 0
 :game_mode 22
 :human_players 10
 :leagueid 0
 :lobby_type 7
 :match_id 5115962322
 :match_seq_num 4292738515
 :negative_votes 0
 :picks_bans [{:hero_id 10 :is_pick false :order 0 :team 0}
              {:hero_id 2 :is_pick false :order 1 :team 0}]
 :players [{:account_id 11534158
            :assists 18
            :backpack_0 0
            :backpack_1 0
            :backpack_2 0
            :deaths 10
            :denies 5
            :gold_per_min 384
            :hero_id 68
            :item_0 254
            :item_1 181
            :item_2 29
            :item_3 108
            :item_4 235
            :item_5 218
            :item_neutral 0
            :kills 12
            :last_hits 28
            :leaver_status 0
            :level 22
            :player_slot 0
            :xp_per_min 457}
           {:account_id 4294967295
            :assists 16
            :backpack_0 0
            :backpack_1 0
            :backpack_2 0
            :deaths 8
            :denies 7
            :gold_per_min 325
            :hero_id 26
            :item_0 1
            :item_1 60
            :item_2 232
            :item_3 36
            :item_4 244
            :item_5 214
            :item_neutral 0
            :kills 7
            :last_hits 29
            :leaver_status 0
            :level 25
            :player_slot 1
            :xp_per_min 593}
           {:account_id 140612866
            :assists 25
            :backpack_0 0
            :backpack_1 0
            :backpack_2 0
            :deaths 8
            :denies 4
            :gold_per_min 579
            :hero_id 40
            :item_0 96
            :item_1 190
            :item_2 108
            :item_3 119
            :item_4 63
            :item_5 48
            :item_neutral 0
            :kills 3
            :last_hits 303
            :leaver_status 0
            :level 25
            :player_slot 2
            :xp_per_min 607}
           {:account_id 138142077
            :assists 20
            :backpack_0 11
            :backpack_1 0
            :backpack_2 0
            :deaths 4
            :denies 15
            :gold_per_min 600
            :hero_id 7
            :item_0 100
            :item_1 180
            :item_2 96
            :item_3 0
            :item_4 108
            :item_5 114
            :item_neutral 0
            :kills 12
            :last_hits 297
            :leaver_status 0
            :level 25
            :player_slot 3
            :xp_per_min 738}
           {:account_id 108611588
            :assists 17
            :backpack_0 0
            :backpack_1 0
            :backpack_2 0
            :deaths 5
            :denies 14
            :gold_per_min 474
            :hero_id 56
            :item_0 174
            :item_1 63
            :item_2 57
            :item_3 225
            :item_4 108
            :item_5 236
            :item_neutral 0
            :kills 14
            :last_hits 153
            :leaver_status 0
            :level 25
            :player_slot 4
            :xp_per_min 681}
           {:account_id 81729036
            :assists 11
            :backpack_0 11
            :backpack_1 0
            :backpack_2 0
            :deaths 11
            :denies 6
            :gold_per_min 520
            :hero_id 120
            :item_0 108
            :item_1 166
            :item_2 174
            :item_3 182
            :item_4 231
            :item_5 40
            :item_neutral 0
            :kills 6
            :last_hits 364
            :leaver_status 0
            :level 25
            :player_slot 128
            :xp_per_min 741}
           {:account_id 86383285
            :assists 13
            :backpack_0 188
            :backpack_1 0
            :backpack_2 0
            :deaths 11
            :denies 2
            :gold_per_min 255
            :hero_id 90
            :item_0 214
            :item_1 102
            :item_2 37
            :item_3 254
            :item_4 40
            :item_5 42
            :item_neutral 0
            :kills 1
            :last_hits 94
            :leaver_status 0
            :level 22
            :player_slot 129
            :xp_per_min 466}
           {:account_id 400593460
            :assists 17
            :backpack_0 0
            :backpack_1 0
            :backpack_2 0
            :deaths 8
            :denies 14
            :gold_per_min 535
            :hero_id 41
            :item_0 63
            :item_1 116
            :item_2 158
            :item_3 139
            :item_4 65
            :item_5 75
            :item_neutral 0
            :kills 11
            :last_hits 293
            :leaver_status 0
            :level 25
            :player_slot 130
            :xp_per_min 701}
           {:account_id 344924878
            :assists 10
            :backpack_0 41
            :backpack_1 0
            :backpack_2 0
            :deaths 7
            :denies 7
            :gold_per_min 474
            :hero_id 106
            :item_0 36
            :item_1 50
            :item_2 108
            :item_3 116
            :item_4 185
            :item_5 166
            :item_neutral 0
            :kills 9
            :last_hits 272
            :leaver_status 0
            :level 25
            :player_slot 131
            :xp_per_min 646}
           {:account_id 155831781
            :assists 15
            :backpack_0 244
            :backpack_1 0
            :backpack_2 188
            :deaths 14
            :denies 5
            :gold_per_min 253
            :hero_id 50
            :item_0 180
            :item_1 79
            :item_2 36
            :item_3 42
            :item_4 40
            :item_5 187
            :item_neutral 0
            :kills 8
            :last_hits 80
            :leaver_status 0
            :level 19
            :player_slot 132
            :xp_per_min 346}]
 :positive_votes 0
 :pre_game_duration 90
 :radiant_score 50
 :radiant_win true
 :start_time 1573946823
 :tower_status_dire 0
 :tower_status_radiant 1974}