{:hero
 [#:hero{:hero_id 1, :name "antimage"}
  #:hero{:hero_id 2, :name "axe"}
  #:hero{:hero_id 3, :name "bane"}
  #:hero{:hero_id 4, :name "bloodseeker"}
  #:hero{:hero_id 5, :name "crystal-maiden"}
  #:hero{:hero_id 6, :name "drow-ranger"}
  #:hero{:hero_id 7, :name "earthshaker"}
  #:hero{:hero_id 8, :name "juggernaut"}
  #:hero{:hero_id 9, :name "mirana"}
  #:hero{:hero_id 10, :name "morphling"}
  #:hero{:hero_id 11, :name "nevermore"}
  #:hero{:hero_id 12, :name "phantom-lancer"}
  #:hero{:hero_id 13, :name "puck"}
  #:hero{:hero_id 14, :name "pudge"}
  #:hero{:hero_id 15, :name "razor"}
  #:hero{:hero_id 16, :name "sand-king"}
  #:hero{:hero_id 17, :name "storm-spirit"}
  #:hero{:hero_id 18, :name "sven"}
  #:hero{:hero_id 19, :name "tiny"}
  #:hero{:hero_id 20, :name "vengefulspirit"}
  #:hero{:hero_id 21, :name "windrunner"}
  #:hero{:hero_id 22, :name "zuus"}
  #:hero{:hero_id 23, :name "kunkka"}
  #:hero{:hero_id 25, :name "lina"}
  #:hero{:hero_id 26, :name "lion"}
  #:hero{:hero_id 27, :name "shadow-shaman"}
  #:hero{:hero_id 28, :name "slardar"}
  #:hero{:hero_id 29, :name "tidehunter"}
  #:hero{:hero_id 30, :name "witch-doctor"}
  #:hero{:hero_id 31, :name "lich"}
  #:hero{:hero_id 32, :name "riki"}
  #:hero{:hero_id 33, :name "enigma"}
  #:hero{:hero_id 34, :name "tinker"}
  #:hero{:hero_id 35, :name "sniper"}
  #:hero{:hero_id 36, :name "necrolyte"}
  #:hero{:hero_id 37, :name "warlock"}
  #:hero{:hero_id 38, :name "beastmaster"}
  #:hero{:hero_id 39, :name "queenofpain"}
  #:hero{:hero_id 40, :name "venomancer"}
  #:hero{:hero_id 41, :name "faceless-void"}
  #:hero{:hero_id 42, :name "skeleton-king"}
  #:hero{:hero_id 43, :name "death-prophet"}
  #:hero{:hero_id 44, :name "phantom-assassin"}
  #:hero{:hero_id 45, :name "pugna"}
  #:hero{:hero_id 46, :name "templar-assassin"}
  #:hero{:hero_id 47, :name "viper"}
  #:hero{:hero_id 48, :name "luna"}
  #:hero{:hero_id 49, :name "dragon-knight"}
  #:hero{:hero_id 50, :name "dazzle"}
  #:hero{:hero_id 51, :name "rattletrap"}
  #:hero{:hero_id 52, :name "leshrac"}
  #:hero{:hero_id 53, :name "furion"}
  #:hero{:hero_id 54, :name "life-stealer"}
  #:hero{:hero_id 55, :name "dark-seer"}
  #:hero{:hero_id 56, :name "clinkz"}
  #:hero{:hero_id 57, :name "omniknight"}
  #:hero{:hero_id 58, :name "enchantress"}
  #:hero{:hero_id 59, :name "huskar"}
  #:hero{:hero_id 60, :name "night-stalker"}
  #:hero{:hero_id 61, :name "broodmother"}
  #:hero{:hero_id 62, :name "bounty-hunter"}
  #:hero{:hero_id 63, :name "weaver"}
  #:hero{:hero_id 64, :name "jakiro"}
  #:hero{:hero_id 65, :name "batrider"}
  #:hero{:hero_id 66, :name "chen"}
  #:hero{:hero_id 67, :name "spectre"}
  #:hero{:hero_id 68, :name "ancient-apparition"}
  #:hero{:hero_id 69, :name "doom-bringer"}
  #:hero{:hero_id 70, :name "ursa"}
  #:hero{:hero_id 71, :name "spirit-breaker"}
  #:hero{:hero_id 72, :name "gyrocopter"}
  #:hero{:hero_id 73, :name "alchemist"}
  #:hero{:hero_id 74, :name "invoker"}
  #:hero{:hero_id 75, :name "silencer"}
  #:hero{:hero_id 76, :name "obsidian-destroyer"}
  #:hero{:hero_id 77, :name "lycan"}
  #:hero{:hero_id 78, :name "brewmaster"}
  #:hero{:hero_id 79, :name "shadow-demon"}
  #:hero{:hero_id 80, :name "lone-druid"}
  #:hero{:hero_id 81, :name "chaos-knight"}
  #:hero{:hero_id 82, :name "meepo"}
  #:hero{:hero_id 83, :name "treant"}
  #:hero{:hero_id 84, :name "ogre-magi"}
  #:hero{:hero_id 85, :name "undying"}
  #:hero{:hero_id 86, :name "rubick"}
  #:hero{:hero_id 87, :name "disruptor"}
  #:hero{:hero_id 88, :name "nyx-assassin"}
  #:hero{:hero_id 89, :name "naga-siren"}
  #:hero{:hero_id 90, :name "keeper-of-the-light"}
  #:hero{:hero_id 91, :name "wisp"}
  #:hero{:hero_id 92, :name "visage"}
  #:hero{:hero_id 93, :name "slark"}
  #:hero{:hero_id 94, :name "medusa"}
  #:hero{:hero_id 95, :name "troll-warlord"}
  #:hero{:hero_id 96, :name "centaur"}
  #:hero{:hero_id 97, :name "magnataur"}
  #:hero{:hero_id 98, :name "shredder"}
  #:hero{:hero_id 99, :name "bristleback"}
  #:hero{:hero_id 100, :name "tusk"}
  #:hero{:hero_id 101, :name "skywrath-mage"}
  #:hero{:hero_id 102, :name "abaddon"}
  #:hero{:hero_id 103, :name "elder-titan"}
  #:hero{:hero_id 104, :name "legion-commander"}
  #:hero{:hero_id 105, :name "techies"}
  #:hero{:hero_id 106, :name "ember-spirit"}
  #:hero{:hero_id 107, :name "earth-spirit"}
  #:hero{:hero_id 108, :name "abyssal-underlord"}
  #:hero{:hero_id 109, :name "terrorblade"}
  #:hero{:hero_id 110, :name "phoenix"}
  #:hero{:hero_id 111, :name "oracle"}
  #:hero{:hero_id 112, :name "winter-wyvern"}
  #:hero{:hero_id 113, :name "arc-warden"}
  #:hero{:hero_id 114, :name "monkey-king"}
  #:hero{:hero_id 119, :name "dark-willow"}
  #:hero{:hero_id 120, :name "pangolier"}
  #:hero{:hero_id 121, :name "grimstroke"}
  #:hero{:hero_id 126, :name "void-spirit"}
  #:hero{:hero_id 128, :name "snapfire"}
  #:hero{:hero_id 129, :name "mars"}]}
