{:objects
   {:Hero {:description "A Dota 2 Hero"
           :fields {:display {:description "The human readable name of the hero"
                              :type (non-null String)}
                    :id {:description "A unique number identifying the hero"
                         :type Int}
                    :name {:description
                             "The unique name used internally in the game"
                           :type String}}
           :resolve :resolve/hero}
    :HeroEntry {:fields {:hero {:type (non-null :Hero)}
                         :played_by {:resolve :HeroEntry/played-by
                                     :type (non-null
                                             (list (non-null
                                                     :PlayerSuccessEntry)))}}}
    :Item {:description "Placeholder. TODO quantity, slot, buffs, etc"
           :fields {:id {:type (non-null Int)}}}
    :Match {:fields {:duration {:type (non-null Int)}
                     :id {:type (non-null ID)}
                     :players {:resolve :Match/players
                               :type (non-null (list (non-null
                                                       :MatchPlayerEntry)))}}}
    :MatchPlayerEntry {:fields {:hero {:type (non-null :Hero)}
                                :items {:resolve :MatchPlayerEntry/items
                                        :type (non-null (list (non-null
                                                                :Item)))}
                                :player {:type :Player}}}
    :Player {:fields {:display {:description "The player's current username"
                                :resolve :Player/display-name
                                :type String}
                      :id {:type (non-null ID)}}}
    :PlayerSuccessEntry {:fields {:player {:type :Player}
                                  :total {:type (non-null Int)}
                                  :winrate {:type (non-null Float)}
                                  :wins {:type (non-null Int)}}}
    :Team {:fields {:matches {:type (non-null (list (non-null :Match)))}
                    :played_heroes {:type (non-null (list (non-null
                                                            :HeroEntry)))}}}}
 :queries {:heroes {:description "Get all heroes"
                    :resolve :query/heroes
                    :type (non-null (list (non-null :Hero)))}
           :team
             {:args {:of {:type (non-null (list (non-null ID)))}}
              :description
                "Get information about the shared games of a set of accounts"
              :resolve :query/team
              :type :Team}}}
